.thumbnail {
    display: inline-block;
    width: 15px;
    margin-right: 4px;
}

.file {
    display: inline-block;
    color:#0366d6;
    font-size: 15px;
}

td.left {
    text-align: left;
    padding: 5px;
    width: 200px;
}